
 #particles-js {
  background: linear-gradient(247deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9196720924698004) 35%, rgba(0,212,255,1) 100%);   width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg,#130c31cc,#40284c);
  background: linear-gradient(45deg,#130c31,#40284c);
  height: 100%;
  z-index: -1;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

html, body {
  overflow-x: hidden;
}
body {
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-family: 'Roboto Mono', monospace;
  color:  rgba(9,9,121,0.9196720924698004)
}

hr {
  border-top:10px solid ;
  width: 80%;
  background-color: red;
  color: linear-gradient(247deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9196720924698004) 35%, rgba(0,212,255,1) 100%);  
  
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 16rem;
    padding-right: 1rem;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  color: #1f183d !important;

}

h1 {
  color: #000000!important;
  font-size: 5.5rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
/* #education {
  
} */
/* img{
  border:1px solid black;
} */
h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}
.fas{
  height: 1rem;
  width: 1rem;
  /* font-weight: 300; */
}
.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
  color: #000000!important;
}

.social-icons a {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: rgba(0, 0, 51, 0.92);
  background-color: #c38d7c;
  border-radius: 5px;
  color: rgb(236, 236, 236) !important;
  /* border-radius: 100%; */
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  margin-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #000000;
  color: white !important;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: white !important;

  /* text-transform: uppercase; */
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6f;
}

@media (min-width: 992px) {
  #sideNav {
    background-color: rgb(40, 32, 43)!important;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 11.5rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 8rem;
    max-height: 8rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2) !important;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
  #particles-js {
    width: 100%}
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}
@media (min-width:100px){
  section.resume-section {
    min-height: 100vh;
  }
}

@media (min-width: 992px) {
  #particles-js {
    width: 100%}
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #050616 !important;
}

.text-primary {
  color: #8B0000!important;
  color: #b44448!important;
  color: #ff524e!important;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.landing{
  font-style: normal;
font-weight: 700;
letter-spacing: 20px;
line-height: 120px;
  /* letter-spacing: 0.2rem; */
  font-size: 6rem;
  color: #ecf1ff!important;
  font-family: 'Oswald', sans-serif;
}
.landing1{
  color: #ecf1ff!important;
  font-size: 1.5rem;

}
a {
  color: #ecf1ff;
}
.text-a{
  color:  rgba(9,9,121,0.9196720924698004)!important;
}
a:hover, a:focus, a:active {
  color: #8B0000!important;
}
