/* Start global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto';
  color: black;
  font-weight: bold;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  /* background-color: rgb(27, 27, 27); */
  background-image: linear-gradient(0deg,#130c31,#40284c);
  color: rgb(218, 218, 218);
  background-size: cover;
  background-repeat: repeat-x;
  overflow-x: hidden;
}

section {
  padding: 5rem;
}

a {
  text-decoration: none;
  color: #eef
}

p {
  line-height: 20px;
  font-family: 'Roboto';
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
  height: auto;
}

/*End global*/
/*Start reusable*/
.container {
  width: 100%;
  /* max width: 1200rem; */
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 15rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: white;
  text-transform: uppercase;
  /* font-weight: 300; */
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
  content: '';
  position: absolute;
  bottom: -0.6rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c93e67;
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1rem;
  height: 1.5;
  border-radius: 100%;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 400;
}

.has-margin-right {
  margin-right: 5rem;
}

/*End reusable*/
/*Start header*/

header {
  width: 100%;
  height: 120vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #c93e67;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: 'Roboto';
  font-size: 3rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, rgba(350, 74, 171, 1), rgba(118, 60, 235, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 15000;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background-color:#ff524e;
  width: 100%;
  height: 2px;
  border-radius: .8rem;
}

.bar.half {
  /* background-color: white; */
  width: 50%;
}

.bar.start {
  transform-origin: right;
  position: relative;
  top: 0.5rem;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-450deg) translateX(.9rem);
}

.bar.end {
  position: relative;
  bottom: 0.5rem;
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-.9rem);
}

.landing-text {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 3;
}

#particles-js {
  background-image: linear-gradient(0deg,#0c0722,#40284c);
  /* background-image: linear-gradient(0deg, #FF057C 0%, #321575 100%); */
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-bottom: 0;
}

.landing-text h1 {
  /* background-image: linear-gradient(45deg,#130c31,#40284c); */
  /* font-weight: 400; */
  color: #b18071;
  font-size: 8rem;
  font-family: 'Playfair Display',serif;
  margin-left: 10%;
  margin-right: 10%;
  user-select: none;
  padding-bottom: 2%;
}

.landing-text h5 {
  position: relative;
  top: 1rem;
  /* background-color: #ff514ea4; */
  color: white;
  padding-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%;
  /* font-weight: 300; */;
  font-size: 3rem;
  font-family: 'Playfair Display',Arial;
  letter-spacing: 2px;
}

.te{
  /* background-image: linear-gradient(45deg,#130c31,#40284c); */
  /* background: rgb(10, 10, 10); */
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 4rem;
}

#text {
  position: relative;
  bottom: 5rem;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  color: #ff524e;
  font-family: 'Montserrat';
  letter-spacing: 3px;
  font-size: 2rem;
}

#cursor {
  position: relative;
  bottom: 5rem;
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 26px;
  background-color: blue;
  animation: blink 0.2s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent
  }

  10% {
    background-color: blue;
  }
}
.buttons{
  position: relative;
  top: 6rem;

  margin-top: 2rem;
}
.button{
  font-family: 'Montseratt';
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px 10px;
  background-color: #ff524e;
  color: white;
  border-color:  #ff524e;
  border-radius: 10px;
  /* padding: 2rem; */
}
.button2{
}
/*End header*/
/*Start about*/
#about {
  width: 100%;
  height: 100%;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-heading {
  padding: 2rem;
  justify-content: center;
  display: flex;
  width: 100%;
  border-top: 3px solid #f0f0f0;
  border-bottom: 3px solid #f0f0f0;
  /* background-color:  #ac97e5; */
  /* color: #ac97e5; */
  /* color: black; */
  text-align: center;
  /* text-transform: uppercase; */
  /* width: 100vw; */
  position: relative;
}

.about-text {
  flex: auto;
  line-height: 100px;
}

.about-heading h2 {
  font-family: 'Roboto';
  justify-content: center;
  font-size: 5rem;
}

.about-heading h3 {
  flex-grow: 2;
  font-size: 6rem;
}

.profile-img {
  padding: 4rem;
  height: 30%;
  width: 30%;
}

.c_image {
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
}

.about-details {
  line-height: 23px;
  flex: 1;
}

#abt p {
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 25px;
}

.social-media {
  font-size: 3rem;
  transition: color 650ms;
}

.fa-facebook-square:hover {
  color: blue;
}

.fa-twitter-square:hover {
  color: red;
}

.fa-github-square:hover {
  color: black;
}

/*End about*/
/*Start services*/
#services{
  height: 100%;
  width: 100%;
  /* background-color: #4d3c69; */
  padding: 5rem;
  color: white;
}
.my-skills {

  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  text-align: center;
  padding-bottom: 5em;

}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}
.skill p{
  font-size: 1.5rem;
}
.icon-container {
  position: relative;
  width: 10rem;
  height: 10rem;
  border: 3px solid white;
  background-color: black;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}

.icon-container i {
  color: white;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}

/*End services*/
/*Start portfolio*/
/* #portfolio{
  /* background-color:#333333; */
/* }  */
/* .portfolio .section-heading {
  margin-bottom: 5rem;
}

.portfolio-item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.portfolio-img {
  /* position: ; */
  height: 10%;
  width: 40%;
  flex: 4;
}

.portfolio-description {
  flex: 1;
  text-align: center;
} */

.ro {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.ci_image {
  border-style: solid;
  border-color: #686868;
  border-width: 5px;
  border-radius: 50%;
}

.portfolio-description h1 {
  padding: 2rem;
  font-size: 2.5rem;
  margin: 1 rem 0;
}
.portfolio-description p{
  margin-left: 5rem;
  margin-right: 5rem;
}
/*End services*/
/*Start timeline*/
/*End timeline*/
/*Start contact*/
.contact {}

form {
  width: 70%;
  margin: 0auto;
}

form label {
  font-size: 1.5rem;
}

input, select, textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: black;
}

input[type="submit"] {
  width: initial;
  background-color: purple;
  color: black;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 685;
}

input[type="submit"] {
  color: black;
  background-color: white;
}

/*End contact*/
/*Start footer*/
.copyright {
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 2rem 0;
  position: relative;
}

.copyright p {
  font-size: 1.4rem;
}

.up {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: white;
  top: -3.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
}

.col {
  flex-direction: column;
}

.up i {
  color: black;
  font-size: 2rem;
  margin: auto;
}

/*End footer*/
/*Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }

  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }

  100% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
}

@keyframes typing {
  from {
    max-width: 0
  }

  to {
    max-width: 100%
  }
}

@keyframes type {
  0% {
    max-width: 0;
  }

  from {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }

  20% {
    border-color: black;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*End animations*/
/*Start media queries*/
@media screen and (max-width: 768px) {
  body {
    background-color: #eaeaea;
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
  }

  .landing-text h1 {
    font-size: 6rem;
  }

  .landing-text h6 {
    font-size: 1.7rem;
  }

  .nav-list {
    flex-direction: column;
  }

  li {
    margin: 2rem 0;
  }

  .nav-link {
    font-size: 4.5rem;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .about-heading h6 {
    font-size: 3rem;
  }

  .about-details li {
    /* margin 0 2rem; */
  }

  /*End media queries*/}